cwc-navigation.hydrated {
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0px;
    width: inherit;
    z-index: 300;
    transition: height 0.25s ease-in-out;
}

.invisible {
    display: none;
}