.cwc-typeahead {
    option:hover {
        cursor: pointer;
    }
}

.badge {
    margin-right: 3px;
    span {
        margin-left: 3px;
    }
}
.cwc-autocomplete{
    .cwc-popper-autocomplete{
        margin-top: 0px;
        display: block;
        width: -webkit-fill-available;
        margin-left: 5px;
    }
    display: inline-block;
    width: 100%;
}

cwc-autocomplete-select{
    width: 100%;
    display: inline-block;
}
