.followMeBar {
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}

.followMeBar.fixed {
    position: fixed;
    top: 0;
    // width: 100%;
    box-sizing: border-box;
    z-index: 0;
}

.followMeBar.fixed.absolute {
    position: absolute;
}