.form-check-input {
  width: 20px;
  height: 20px;
  border-radius: 0 !important;
  background-color: #fff;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  -webkit-appearance: none;
}

.form-check-label {
  margin-left: 10px;
  padding-top: 5px;
  font-size: 12px;
}

.form-check-input:checked {
  background-color: gray;
}

.form-check-input:checked::before {
  font-family: "Material Icons";
  content: "\2714";
  transform: none;
  color: #fff;
  font-size: 20px;
  top: -5px;
  left: 1px;
  position: absolute;
}

.form-check-input:focus {
  outline: none;
}
