.badge-pill.tag-with-image {
    padding-left: 3px;
}

.btn-close:hover {
    color: white;
    cursor: pointer;
}

img.rounded-circle {
    max-width: 20px;
    max-height: 20px;
    padding: 1px 1px;
    margin-right: 4px;
}

span.btn-close {
    margin: 7px 2px 3px 6px;
    vertical-align: middle;
}

span.badge-text {
    vertical-align: middle;
    margin-right: 3px;
}